<div class="trivia-session-id-embed" id="ab-session-id" data-trivia-session-id="<%= @trivia_session.id %>">
</div>
<div class="trivia-session-id-embed" id="ab-player-id" data-trivia-player-id="<%= current_user.id %>">
</div>

<%= javascript_pack_tag 'custom/trivia_session', 'data-turbolinks-track': 'reload' %>

<!-- I know this is awful and ugly but i can NOT get webpacker to work here... -->
<!-- Even in the webconsole i can see the file imported and my functions but it wont call them -->
<script>
    function disableForm() {
        $("#answer-form-fields").attr("disabled", "disabled");
    };
    $(document).ready(function (e) {
        $("#answer-form").submit(function (e2) {    
            console.log(e2.originalEvent.submitter.id);
            $(`#${e2.originalEvent.submitter.id}`).addClass("active");
            disableForm();
        });
    });
</script>

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="well">
                <small>
                    <table class="t-info-table">
                        <tr>
                            <td><strong>Total Players:<strong></td>
                            <td><span class="tsd-min-player-count">20</span></td>
                        </tr>
                        <tr>
                            <td><strong>Remaining:<strong></td>
                            <td><span class="tsd-current-player-count">1</span></td>
                        </tr>
                        <tr>
                            <td><strong>Question:<strong></td>
                            <td><span class="tsd-question-index">0</span></td>
                        </tr>
                    </table>
                </small>                
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9-2 col-xs-9">
            <div class="well">

                <!-- DIV when waiting for enough players to start -->
                <div class="contianer center" id="tse-pending-min-players-area">
                    <h3>Waiting for players...</h3>
                    <small>Your session will start soon</small>
                    <h5><span class="tsd-current-player-count">1</span> / <span class="tsd-min-player-count">20</span><h5>
                </div>

                <!-- DIV when timer countdown to start -->
                <div class="contianer center ab-hidden" id="tse-session-start-counter-area">
                    <h3>Game Starting In <span class="countdown-timer"></span></h3>
                    <small>Prepare for trivial battle!</small>
                </div>

                <!-- DIV when questions come through -->
                <div class="panel panel-warning ab-hidden" id="tse-question-area">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong id="question-text">Which NHL team won the Stanley Cup in the 2019-2020 season played in a bubble due to the Covid-19 pandemic?</strong></h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <h5 class="pull-right ab-timer-pad-right"><strong>Time Remaining: </strong><span class="countdown-timer"></span></h5>
                        </div>
                        <div class="list-group">

                            <!-- Answers are a form -->
                            <%= form_tag(submit_answer_path, id: "answer-form", remote: true) do %>
                                <fieldset id="answer-form-fields">
                                    <%= button_tag "Answer 1", name: "answer_id", class: "list-group-item list-group-item-action", id: "answer-1", type: "submit", value: 1 %>
                                    <%= button_tag "Answer 2", name: "answer_id", class: "list-group-item list-group-item-action", id: "answer-2", type: "submit", value: 2 %>
                                    <%= button_tag "Answer 3", name: "answer_id", class: "list-group-item list-group-item-action", id: "answer-3", type: "submit", value: 3 %>
                                    <%= button_tag "Asnwer 4", name: "answer_id", class: "list-group-item list-group-item-action", id: "answer-4", type: "submit", value: 4 %>
                                </fieldset>
                                <%= text_field_tag "player_id", current_user.id, class: "ab-hidden", id: "form-player-id" %>
                                <%= text_field_tag "trivia_session_id", @trivia_session.id, class: "ab-hidden", id: "form-trivia-session-id" %>
                                <%= text_field_tag "question_id", "-1", class: "ab-hidden", id: "form-trivia-question-id" %>
                            <% end %>                            
                        </div>
                    </div>
                </div>  

                <!-- DIV when timer countdown to start -->
                <div class="contianer center ab-hidden" id="tse-review-area">
                    <div class="row">
                        <h5 class="pull-right ab-timer-pad-right"><strong>Time Remaining: </strong><span class="countdown-timer"></span></h5>
                    </div>
                    <h2 id="this-players-result">Correct!</h2>
                    <div class="list-group">
                        <div class="list-group-item">
                            <strong><span id="result-answer-1-text"><strong>Answer 1: </strong></span><span class="ab-nudge-right" id="result-answer-1-count"></span>
                        </div>
                        <div class="list-group-item">
                            <strong><span id="result-answer-2-text"><strong>Answer 1: </strong></span><span class="ab-nudge-right" id="result-answer-2-count"></span>
                        </div>
                        <div class="list-group-item">
                            <strong><span id="result-answer-3-text"><strong>Answer 1: </strong></span><span class="ab-nudge-right" id="result-answer-3-count"></span>
                        </div>
                        <div class="list-group-item">
                            <strong><span id="result-answer-4-text"><strong>Answer 1: </strong></span><span class="ab-nudge-right" id="result-answer-4-count"></span>
                        </div>   
                    </div>         
                    <%= link_to "Return Home", root_path, class: "btn btn-default btn-danger ab-hidden", id: "eliminated-return-button" %>        
                </div>

                <!-- DIV when timer countdown to start -->
                <div class="contianer center ab-hidden" id="tse-victors-circle">
                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">Victory!</h4>
                        <p>Congratulations! You have bested all of your oponnents in trivial warfare. Bragging rights are yours, as is our first place prize! Which is unfortunately nothing, but its all yours!</p>
                        <hr>
                        <p class="mb-0">Dont worry, all the losers had to donate 5$ to us, so youre still ahead.</p>
                        <%= link_to "Return Home", root_path, class: "btn btn-default btn-success" %>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>